# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

/src/assets/cfm/archive
/dist/ngMat02/assets/cfm/archive
/dist/ngMat02/assets/cfm/article-images
/dist/ngMat02/assets/cfm/categories
/dist/ngMat02/assets/cfm/components/javaloader
/dist/ngMat02/assets/cfm/components/jwt
/dist/ngMat02/assets/cfm/lib/jBCrypt-0.4
/dist/ngMat02/assets/cfm/user-avatars
/dist/ngMat02/assets/cfm/rest/api/v1/taffy 
/dist/ngMat02/assets/font
/dist/ngMat02/assets/js/greensock-js
/dist/ngMat02/assets/js/highlight.js
/dist/ngMat02/assets/js/jquery-ui-1.10.3.custom
/dist/ngMat02/assets/js/js-cookie
/dist/ngMat02/assets/js/lightgallery.js
/dist/ngMat02/assets/js/mobile-detect
/dist/ngMat02/assets/js/perfect-scrollbar
/dist/ngMat02/assets/js/tagify
/dist/ngMat02/assets/js/tinymce
/dist/ngMat02/assets/js/jquery.js
/dist/ngMat02/assets/audio
/dist/ngMat02/assets/tinymce

/WEB-INF