app-gallery-detail {
    overflow: hidden;
}

.mat-app-background.basic-container.gallery-detail {
    float: left;
    width: 1200px;
    max-width: 1253px;
    padding: 0px;
}

.mat-app-background.basic-container.gallery-detail div.gallery-detail-container {
    padding: 30px;
}

aside.gallery-detail-aside {
    height: 100%;
    overflow: hidden;
    padding: 16px;
}

.gallery-detail-title-container {
    text-align: center;
}

.gallery-detail-title {
    position: relative;
    display: inline-block;
    padding: 20px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.gallery-detail-title:after {
    position: absolute;
    top: 75%;
    height: 25px !important;
    width: 75px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    background-size: 26px 26px;
}

.gallery-detail-author-container {
    position: relative; 
    height: 58px;
    margin-top: 30px;
}

.gallery-detail-author {
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.gallery-detail-avatar {
    width: 50px;
    margin-right: 10px;
}

.gallery-detail-avatar div.gallery-detail-avatar-scale-container {
    position: relative;
    float: left;
    width:100%;
    padding-bottom:100%;
    border-radius: 50%;
    background-size: cover;
    background-color: rgba(255,255,255,0.05);
}

.gallery-detail-avatar div.gallery-detail-avatar-scale-container .mat-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255,255,255,0.1);
    transform: scale(2);
    transform-origin: 100% 100%;
}

.gallery-detail-author-data {
    vertical-align: super;
}

.gallery-detail-author-data .gallery-detail-author-name {
    font-weight: normal;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
}

.gallery-detail-author-data .gallery-detail-author-date {
    font-weight: normal;
}

.gallery-detail-image {
    height: 50vh;
    background-size: cover;
    background-position: center center;
    background-color: rgba(255,255,255,0.05);
    margin-top: 30px;
}

.gallery-detail-description {
    width: 700px;
    margin: 30px auto 0px;
    font-weight: bold;
    font-size: 21px;
    line-height: 33.18px;
    letter-spacing: -.003em;
    font-family: Roboto,Helvetica,sans-serif;
}

.gallery-detail-description p, .gallery-detail-description p[style] {
    font-weight: bold !important;
    font-size: 21px !important;
    line-height: 33.18px !important;
    letter-spacing: -.003em !important; 
    font-family: Roboto,Helvetica,sans-serif !important;
}

.gallery-detail-divider {
    width: 700px;
    margin: 20px auto;
    text-align: center !important;
}

.gallery-detail-divider span {
    display: inline-block;
    height: 30px;
    line-height: 0px;
    font-size: 64px;
    color: rgb(229,229,229);
}

.gallery-detail-article {
    width: 700px;
    margin: 0 auto;
    font-size: 21px;
    line-height: 33.18px;
    letter-spacing: -.003em;
    font-family: Roboto,Helvetica,sans-serif;
}

.gallery-detail-article p, .gallery-detail-article p[style], .gallery-detail-article p span, .gallery-detail-article p span[style] {
    font-size: 21px !important;
    line-height: 33.18px !important;
    letter-spacing: -.003em !important;
    font-family: Roboto,Helvetica,sans-serif !important;
}

.gallery-detail-comments-container {
    position: relative;
}

/* media queries */

/* tablets */

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2) {

    .mat-app-background.basic-container.gallery-detail {
        float: left;
        width: auto;
        max-width: initial;
        padding: 0px;
    }

    aside.gallery-detail-aside {
        display: none;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {


    .mat-app-background.basic-container.gallery-detail {
        float: left;
        width: auto;
        max-width: initial;
        padding: 0px;
    }

    aside.gallery-detail-aside {
        display: none;
    }

}

/* smart phones */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    app-gallery-detail {
        overflow: auto;
    }

    .mat-app-background.basic-container.gallery-detail {
        float: none;
        width: 100%;
        max-width: initial;
        padding: 0px;
    }

    .mat-app-background.basic-container.gallery-detail div.gallery-detail-container {
        padding: 0px;
    }

    aside.gallery-detail-aside {
        display: none;
    }

    .gallery-detail-title {
        font-size: 18px;
        margin: 30px 30px 0px;
    }

    .gallery-detail-author-data .gallery-detail-author-name {
        margin-bottom: 5px;
    }

    .gallery-detail-description {
        width: 100%;
        padding: 0px 30px;
        font-weight: bold;
        font-size: 18px;
        line-height: 28.4333px;
        letter-spacing: -0.0666667px;
        font-family: Roboto,Helvetica,sans-serif;
        -webkit-text-size-adjust: none;
    }

    .gallery-detail-description p, .gallery-detail-description p[style] {
        font-weight: bold !important;
        font-size: 18px !important;
        line-height: 28.4333px !important;
        letter-spacing: -0.0666667px !important; 
        font-family: Roboto,Helvetica,sans-serif !important;
    }

    .gallery-detail-divider {
        width: 100%;
    }

    .gallery-detail-article {
        width: 100%;
        padding: 0px 30px;
        font-size: 18px;
        line-height: 28.4333px;
        letter-spacing: -0.0666667px;
        font-family: Roboto,Helvetica,sans-serif;
        -webkit-text-size-adjust: none;
    }

    .gallery-detail-article p, .gallery-detail-article p[style], .gallery-detail-article p span, .gallery-detail-article p span[style] {
        font-size: 18px !important;
        line-height: 28.4333px !important;
        letter-spacing: -0.0666667px !important;
        font-family: Roboto,Helvetica,sans-serif !important;
    }

    .gallery-detail-comments-container {
        position: relative;
        padding: 0px;
        margin-top: 30px;
    }

}
