.category-edit-tree-container {
    padding: 20px;
}

.category-edit-tree {
    padding: 10px;
    margin-bottom: 20px;
}

.category-edit-tree-node {
    opacity: 1;
}

.category-edit-tree-node-opaque {
    opacity: 0.25;
}