.category-edit-tree-container {
    padding: 20px;
}

.category-edit-tree {
    padding: 10px;
    margin-bottom: 20px;
}

/* media queries */

/* smart phones */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .category-edit-tree {
        padding: 0px;
        margin-bottom: 30px;
    } 

}