.mat-form-field {
    width: 50%;
}
  
.tree-progress-bar {
    margin-left: 30px;
}

.form-field-container {
    margin-bottom: 20px;
}

.form-field-container .form-field-legend {
    position: relative;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
}

.form-field-container .form-field-legend span {
    position: absolute;
    top: 13px;
    right: 20px;
}

.form-field-container .form-field-legend span img{
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.form-field-container .form-field-text {
    padding: 20px;
}

.form-field-container .form-field-text textarea {
    height: 250px;
}

.form-field-container .form-field-text .form-button-container {
    width: 50%;
    margin-top: 20px;
}

.form-field-container .form-field-text .form-button-container button {
    width: 125px;
}

.form-field-container .form-field-text .form-button-container button:nth-of-type(2) {
    float: right;
}

.form-field-container .form-field-text div.panel {
    width: 50%;
    font-size: 16px;
    margin: 30px 0px 40px;
}

.form-field-container .form-field-text div.panel.expand {
    width: 100%;
}

.form-field-container .form-field-text div.panel.unapproved-images {
    position: relative;
    margin: 30px 0px 40px;
}

.form-field-container .form-field-text div.panel.approved-images {
    position: relative;
}

.form-field-container .form-field-text div.panel.unapproved-images .mat-icon.add, .form-field-container .form-field-text div.panel.approved-images .mat-icon.add {
    position: absolute;
    top: 19px;
    right: 50px;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
}

.form-field-container .form-field-text div.panel h2.panel-legend, .form-field-container .form-field-text div.panel mat-select.panel-legend {
    position: relative;
    padding: 15px;
    margin: 0px;
    font-size: 16px;
}

.form-field-container .form-field-text div.panel div.panel-inner mat-select.panel-legend {
    padding: 12px 15px;
}

.form-field-container .form-field-text div.panel mat-select.panel-legend {
    font-weight: 500;
}

.form-field-container .form-field-text div.panel h2.panel-legend .mat-icon {
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.form-field-container .form-field-text div.panel h2.panel-legend .mat-icon.fullscreen {
    right: 50px;
}

.form-field-container .form-field-text div.panel h2.panel-legend span.help {
    position: absolute;
    top: 16px;
    right: 50px;
    font-size: 16px;
    cursor: pointer;
}

.form-field-container .form-field-text div.panel div.panel-content {
    padding: 30px 0px;
    font-size: 16px;
}

.form-field-container .form-field-text div.panel div.panel-content .mat-form-field {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.form-field-container .form-field-text div.panel div.panel-content .mat-form-field:last-child {
    margin-bottom: 0px !important;
}

#apiDocumentation {
    height: 25px;
    cursor: pointer;
}

#apiEndpoint {
    height: 40px;
}

div.image-thumbnail-container {
    width: 50%;
    margin: 0px 0px 20px;
}

div.image-thumbnail-container ul.image-thumbnail-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
    margin: 0px -20px 0px 0px;
}

div.image-thumbnail-container ul.image-thumbnail-list li {
    width: 100px;
    height: 100%;
    margin: 0px 20px 20px 0px;
    flex-grow: 1;
}

div.image-thumbnail-container ul.image-thumbnail-list li div.image-thumbnail-list-item-image {
    margin-bottom: 20px;
}

div.image-thumbnail-container ul.image-thumbnail-list li div.image-thumbnail-list-item-image img {
    width: 100%;
}

div.image-thumbnail-container ul.image-thumbnail-list li div.image-thumbnail-list-item-title {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	word-wrap: break-word;
}

.upload-container {
    padding: 20px 0px 0px;
}

.mat-icon.dialog-edit-categories-help-notification-close {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

#dialogEditCategoriesHelpNotificationText {
    overflow: auto;
}



.dialog-email-container, .dialog-user-admin-notification-container {
    position: relative;
    height: 100%;
}

.form-field-container .form-field-text textarea#message {
    height: 200px;
}
  
.button-actions {
    position: absolute;
    width: 100%;
    height: 36px;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.dialog-email-container .button-actions .mat-raised-button, .dialog-user-admin-notification-container .button-actions .mat-raised-button {
    margin-left: 0px;
}

.dialog-email-footer-data {
    width: 225px;
    height: 36px;
    padding: 10px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
}

.dialog-email-footer-data i {
    margin-right: 10px;
}

.mat-icon.email-close {
    cursor: pointer;
}

.mat-dialog-actions {
    padding: 12px 0;
    padding-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -24px;
    place-content: space-evenly;
}

button {
    padding: 0 10px;
}

button[data-role='submit'] {
    margin-left: 0px;
}

.mat-icon.dialog-email-help-notification-close {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.e-mail-template {
    margin: 0px;
    padding: 20px;
}

.e-mail-template-table {
    margin: 0px;
}

.e-mail-template-salutation {
    display: inline-block;
    margin: 0px 0px 20px;
    line-height: 22px;
    font-size: 22px;
}

.e-mail-template {
    font-size: 16px;
}

.e-mail-template-message {
    margin-top: 0px;
}



/* media queries */

/* smart phones */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .mat-form-field {
      width: 100%;
    }

    .form-field-container .form-field-text .form-button-container {
        width: 100%;
    }

    .form-field-container .form-field-text div.panel {
        width: 100%;
    }

    .form-field-container .form-field-text div.panel.unapproved-images .mat-icon.add, .form-field-container .form-field-text div.panel.approved-images .mat-icon.add {
        right: 40px;
    }
    
    .form-field-container .form-field-text div.panel h2.panel-legend .mat-icon.fullscreen {
        right: 40px;
    }
    
    .form-field-container .form-field-text div.panel h2.panel-legend span.help {
        right: 40px;
    }

    #apiDocumentation {
        height: 40px;
    }

    #apiEndpoint {
        height: 58px;
    }

    div.image-thumbnail-container {
        width: 100%;
    }

    div.image-thumbnail-container ul.image-thumbnail-list {
        margin: 0px 0px 0px 0px;
    }

    div.image-thumbnail-container ul.image-thumbnail-list li {
        width: 100%;
        height: auto;
        margin: 0px 0px 20px 0px;
    }

    /* .e-mail-template-salutation {
        font-size: 26px;
    } */

    
}