<div class="mat-app-background basic-container">

  <form novalidate [formGroup]="editProfileForm" *ngIf="userid > 0" autocomplete="off">

    <div class="form-field-container">

      <div class="form-field-legend">Profile<span id="avatarContainer" #avatarContainer></span></div>

      <div class="form-field-text">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="First Name" value="" formControlName="forename" id="forename" required>
        </mat-form-field><br />
        <!-- <div [hidden]="forename.valid || forename.pristine" class="alert alert-danger">
          First name is required
        </div><br /> -->

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Last Name" value="" formControlName="surname" id="surname" required>
        </mat-form-field><br />
        <!-- <div [hidden]="surname.valid || surname.pristine" class="alert alert-danger">
          Last name is required
        </div><br /> -->

        <mat-form-field class="example-full-width">
          <div class="app-password-container">
            <mat-icon id="app-password">visibility</mat-icon>
            <input matInput placeholder="Password" value="" formControlName="password" type="password" id="password" required appPassword>
          </div>
        </mat-form-field><br />
        <!-- <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
          Password is required
        </div><br /> -->

        <mat-checkbox formControlName="emailNotification">Notify me about photo comments</mat-checkbox><br /><br />

        <mat-checkbox formControlName="theme">Switch on light theme</mat-checkbox>

        <div class="panel">
          <h2 class="panel-legend">
            <span>API Dashboard</span><mat-icon (click)="openProfileApiDashboard($event)">add</mat-icon> 
          </h2>
          <div class="panel-content" [@profileApiDashboardFadeInOutAnimation]="{value: profileApiDashboardState}" style="padding-bottom:0px;">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="API Token" formControlName="jwtToken" id="jwtToken" [readonly]="true"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="User ID" value="" formControlName="useridFC" id="useridFC" [readonly]="true">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="User Token" value="" formControlName="userToken" id="userToken" [readonly]="true">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="API Documentation" formControlName="apiDocumentation" id="apiDocumentation" [readonly]="true" (click)="goToApiDocumentation($event)"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width" style="margin-bottom:0px;">
              <textarea matInput placeholder="API Endpoint" formControlName="apiEndpoint" id="apiEndpoint" [readonly]="true"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="panel" *ngIf="currentUser.roleid >= 6">
          <h2 class="panel-legend">
            <span>Edit Archived Users</span><mat-icon (click)="openProfileUserArchiveEdit($event)">add</mat-icon> 
          </h2>
          <div class="panel-content" [@profileUserArchiveEditFadeInOutAnimation]="{value: profileUserArchiveEditState}" style="padding-bottom:0px;">
            <ag-grid-angular style="width:100%;height:500px;" class="ag-theme-balham" [rowData]="userArchiveRowData" [columnDefs]="userArchiveColumnDefs"></ag-grid-angular>
          </div>
        </div>

        <div class="panel" *ngIf="currentUser.roleid >= 6">
          <h2 class="panel-legend">
            <span>Edit Categories</span><span class="help" (click)="openEditCategoriesHelpNotificationDialog()">?</span><mat-icon (click)="openProfileCategoryEdit($event)">add</mat-icon> 
          </h2>
          <div class="panel-content" [@profileCategoryEditFadeInOutAnimation]="{value: profileCategoryEditState}" style="padding-bottom:0px;">
            <app-tree-category-edit></app-tree-category-edit>
          </div>
        </div>

        <div class="panel unapproved-images" *ngIf="pagesUnapproved.length > 0">
          <mat-icon class="add" (click)="toggleUnapprovedImages($event)">add</mat-icon> 
          <mat-select #unapprovedImagesSelect class="panel-legend" placeholder="Unapproved Images" floatLabel="never" (selectionChange)="onChangeUnapproved($event)">
            <mat-select-trigger>Images Awaiting Approval</mat-select-trigger>
            <mat-option *ngFor="let pageUnapproved of pagesUnapproved; let i = index" [value]="(i + 1)" (click)="onChangeUnapproved((i + 1))">
              {{ pageUnapproved.title }}
            </mat-option>
          </mat-select>
        </div>

        <div id="image-thumbnail-container-unapproved" class="image-thumbnail-container" *ngIf="imagesUnapproved.length > 0" style="display:block;">
          <ul class="image-thumbnail-list">
            <li *ngFor="let imageUnapproved of imagesUnapproved" class="image-thumbnail-list-item image-thumbnail-list-item-unapproved">
              <div class="image-thumbnail-list-item-image image-thumbnail-list-item-image-unapproved">
                <img class="image-thumbnail-list-item-image-img image-thumbnail-list-item-image-unapproved-img" src="{{ imageUnapproved.src }}" />
              </div>
              <div class="image-thumbnail-list-item-title" ngbTooltip="{{ imageUnapproved.title }}" [disableTooltip]="disableCommentGeneralTooltip" [container]="'body'">
                  {{ imageUnapproved.title }}
              </div>
            </li>
          </ul>
        </div>

        <div class="panel approved-images" *ngIf="pagesApproved.length > 0">
          <mat-icon class="add" (click)="toggleApprovedImages($event)">add</mat-icon> 
          <mat-select #approvedImagesSelect class="panel-legend" placeholder="Approved Images" floatLabel="never" (selectionChange)="onChangeApproved($event)">
            <mat-select-trigger>Images Approved</mat-select-trigger>
            <mat-option *ngFor="let pageApproved of pagesApproved; let i = index" [value]="(i + 1)" (click)="onChangeApproved((i + 1))">
              {{ pageApproved.title }}
            </mat-option>
          </mat-select>
        </div>

        <div id="image-thumbnail-container-approved" class="image-thumbnail-container" *ngIf="imagesApproved.length > 0" style="display:block;">
          <ul class="image-thumbnail-list">
            <li *ngFor="let imageApproved of imagesApproved" class="image-thumbnail-list-item image-thumbnail-list-item-approved">
              <div class="image-thumbnail-list-item-image image-thumbnail-list-item-image-approved">
                <img class="image-thumbnail-list-item-image-img image-thumbnail-list-item-image-approved-img" src="{{ imageApproved.src }}" />
              </div>
              <div class="image-thumbnail-list-item-title" ngbTooltip="{{ imageApproved.title }}" [disableTooltip]="disableCommentGeneralTooltip" [container]="'body'">
                  {{ imageApproved.title }}
              </div>
            </li>
          </ul>
        </div>

        <div class="upload-container">
          <app-upload></app-upload>
        </div>

        <div style="clear:both;"></div>

        <div class="form-button-container">
          <button mat-raised-button data-role="submit" (click)="editProfileFormSubmit()" [disabled]="!isEditProfileValid" color="accent">Submit</button>
          <button mat-raised-button data-role="warning" (click)="deleteProfileFormSubmit()" color="warn" *ngIf="userAccountDeleteSchema != 0">Delete Account</button>
          <div style="clear:both;"></div>
        </div>

      </div>

    </div>

  </form>

</div>
