/* You can add global styles to this file, and also import other style files */

@import '~angular2-lightbox/lightbox.css';
@import '~@ngx-share/button/styles/share-buttons.css';
@import '~@ngx-share/button/styles/themes/default/default-theme.css';

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: 'Roboto', sans-serif; 
}

body.gallery {
    overflow: hidden !important;
    height: 100% !important;
}

body.gallery mat-sidenav-container {
    overflow: hidden !important;
    height: initial !important;
}

body.gallery mat-sidenav-content {
    overflow: auto !important;
    height: initial !important;
}

body.gallery app-my-nav {
    overflow: hidden !important; 
}

body.gallery-details {
    -webkit-overflow-scrolling: touch !important;
}

body.upload-photo .mat-checkbox label {
    margin-bottom: 20px !important;
}

.sidenav {
    width: 225px !important;
}

.basic-container {
    padding: 30px;
}

.mat-toolbar.mat-primary {
    z-index: 10000;
}

.mat-dialog-container {
    position: relative;
}

.mat-dialog-actions {
    padding-bottom: 39px !important;
}

.app-password-container, icon-container {
    position: relative;
}

#app-password {
    position: absolute;
    top: -10px;
    padding: 0px;
    right: 0px;
    cursor: pointer;
}

.alert {
    width: 50%;
}

body.upload-photo .alert {
    width: 100% !important;
}

.modal-alert .modal-header {
    background-color: rgba(255,0,0,0.25);
}

.modal-alert .modal-body {
    background-color: rgba(255,0,0,0.05);
}

input:-webkit-autofill {
    box-shadow: none;
}

input:-webkit-autofill:focus {
    box-shadow: none;
}

tag-input {
    width: 50%;
}
  
tag-input > div {
    border-bottom: none !important;
}

tag-input > div tag-input-form input {
    width: 130px !important;
    padding: 0px !important;
}

tag-input > div div tag {
    width: 110px !important;
    padding: 0px 20px !important;
    color: white !important;
    cursor: default !important;
    margin-bottom: .5rem !important;
}

tag-input > div div tag > div {
    margin: 0 auto !important;
}

tag-input > div div tag:hover, tag-input > div div tag:active, tag-input > div div tag:focus {
    box-shadow: none !important;
    color: white !important;
}

tag-input > div div tag delete-icon {
    cursor: pointer !important;
}

tag-input > div div tag delete-icon path {
    fill: #FFF !important;
}

tag-input > div div tag delete-icon path:hover {
    fill: #FFF !important;
}

tag-input > div div tag delete-icon:hover {
    transform: scale(1) translateY(0px) !important;
}

body.gallery .mat-card .mat-select-placeholder, body.gallery .mat-card .mat-select-trigger {
    font-family: Roboto,Helvetica,sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}

body.gallery .mat-card .mat-select-placeholder {
    font-size: 20px !important;
    vertical-align: middle !important;
}

body.gallery .mat-card .mat-select-trigger {
    vertical-align: text-top !important;
}

.error-message span {
    display: block;
    padding: .75rem 1.25rem;
    background-color: #f5c6cb;
    color: #721c24;
    border-radius: .25rem;
    border: 1px solid #f5c6cb;
    font-size: 16px;
}

.ng2-dropdown-container {
    position: relative !important;
}

.ng2-dropdown-menu[style] {
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
}

.ng2-dropdown-menu {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12) !important;
    padding: 0px !important;
}

.ng2-menu-item {
    height: 28px !important;
    font-size: 16px !important;
    padding: 24px !important;
    line-height: 1px !important;
}

.ng2-menu-item b {
    font-weight: normal !important;
}

.tooltip-inner {
    white-space: nowrap !important;
    max-width: 300px !important;
}

.mat-dialog-container div.avatar-container div.avatar-scale-container .mat-icon {
    transform: scale(2) !important;
    transform-origin: 100% 100% !important;
}

.mat-checkbox-label {
    white-space: normal !important; 
}

blockquote {
    border-left: 10px solid rgb(229, 229, 229);
    padding-left: 20px;
    margin-left: 0px;
}

.tinymce-divider-plugin {
    margin: 20px 0px;
    text-align: center !important;
}

.tinymce-divider-plugin span {
    display: inline-block;
    height: 36px;
    line-height: 0px;
    font-size: 64px;
    color: rgb(229,229,229);
}

.tinymce-divider-plugin-paragraph {
    margin: 0px;
    height: 0px;
}

div.tinymce-divider-after-plugin {
    height: 36px;
    margin: 20px 0px;
    text-align: center;
    line-height: 0px;
    font-size: 64px;
    color: rgb(229,229,229);
}
  
div.tinymce-divider-after-plugin:after {
    content: "...";
}

.gallery-detail-article img {
    margin: 20px 0px;
}

.gallery-detail-comments-container .social-media-container share-button button {
    position: relative;
    top: 2px;
}

.gallery-detail-comments-container .mat-select-trigger {
    vertical-align: -moz-middle-with-baseline !important;
    vertical-align: -webkit-baseline-middle !important;
}

app-images .mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
}

#dialog-article-help-notification .mat-app-background.basic-container, #dialog-edit-categories-help-notification .mat-app-background.basic-container {
    padding: 0px;
}

#dialog-article-help-notification .form-field-text ol, #dialog-edit-categories-help-notification .form-field-text ol {
    padding: 0px 20px !important;
}

#dialog-article-help-notification .form-field-text ol li, #dialog-edit-categories-help-notification .form-field-text ol li {
    margin-bottom: 10px !important;
}

#dialog-article-help-notification .form-field-text ol li:last-child, #dialog-edit-categories-help-notification .form-field-text ol li:last-child {
    margin-bottom: 0px !important;
}

body.profile .mat-tree {
    background: none !important;
}

body.profile .mat-tree .mat-form-field {
    padding-left: 10px !important;
}

body.profile .mat-tree .mat-checkbox label {
    margin-bottom: 0px !important;
}

body.profile .mat-tree .mat-form-field.create-new-category-form-field {
    margin-left: 20px !important;
}

[mat-dialog-draggable-title] {
    cursor: move;
}

body.profile .mat-tree .mat-form-field {
    width: 245px !important;
}

.css-tooltip {
    position: relative;
    display: inline-block;
}

.css-tooltip .tooltiptext {
    visibility: hidden;
    max-width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.css-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.css-tooltip:hover .tooltiptext {
    visibility: visible;
}

.app-advert .mat-card .app-advert-table td div.app-advert-table-cell-block .custom-mat-progress-spinner, .custom-ag-grid-data-container .custom-mat-progress-spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    animation: matProgressSpinnerRotate 2s linear infinite;
    transform-origin: center center;
    margin: auto;
}

.custom-ag-grid-data-container .custom-mat-progress-spinner {
    top: 35px;
    left: 45%;
}

.app-advert .mat-card .app-advert-table td div.app-advert-table-cell-block .custom-mat-progress-spinner .path, .custom-ag-grid-data-container .custom-mat-progress-spinner .path {
    stroke-dasharray: 25, 80;
    stroke-dashoffset: 0;
    animation: matProgressSpinnerDash 1.5s ease-in-out infinite;
}

@keyframes matProgressSpinnerRotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes matProgressSpinnerDash {
    0% {
        stroke-dasharray: 25, 80;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 30, 80;
        stroke-dashoffset: -14px;
    }
    100% {
        stroke-dasharray: 30, 80;
        stroke-dashoffset: -56px;
    }
}

.app-custom-recaptcha {
    position: relative;
}

.app-custom-recaptcha i {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 2;
}

#app-custom-recaptcha-1 {
    display: none;
}

.app-custom-recaptcha-2 {
    position: relative;
    height: 150px;
    width: 48%;
    /* margin-bottom: 40px; */
    border-radius: 4px;
    font-size: 64px;
    letter-spacing: 10px;
    font-weight: bold;
    line-height: 150px;
    text-align: center;
}

.app-custom-recaptcha-2 span {
    vertical-align: baseline;
}

.app-custom-recaptcha-2 span {
    display: inline-block;
    font-family: 'Shadows Into Light', cursive;
    opacity: 0;
}

.google-recaptcha-loading:after {
    display: block;
    width: 48%;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    content: 'ReCaptcha loading...';
}

.google-recaptcha-loading.loaded:after {
    display: none;
}

.custom-ag-grid-data-container, .custom-ag-grid-no-data-container {
    position: relative;
    padding: 20px;
    font-weight: normal !important;
}

.custom-ag-grid-data-container .mat-icon.check_circle {
    position: absolute;
    right: 32px;
    bottom: 36px;
    font-size: 42px;
    opacity: 0;
    z-index: 1;
}

.custom-ag-grid-data-container .mat-icon.list_alt {
    position: absolute;
    width: 42px;
    height: 42px;
    right: 15px;
    bottom: 18px;
    font-size: 42px;
    opacity: 1;
    z-index: 2;
    cursor: pointer;
}

.ag-theme-balham, .ag-theme-dark {
    background-color: transparent !important;
}

.ag-body-viewport {
    height: auto !important;
}

.ag-header-cell-sortable {
    cursor: default !important;
}

.ag-cell {
    font-family: Roboto,Helvetica,sans-serif !important; 
    line-height: 35px !important;
}

.ag-header-cell-text {
    font-family: Roboto,Helvetica,sans-serif !important; 
    line-height: 35px !important;
}

.ag-cell-inline-editing {
    height: 35px !important;
}

.ag-cell-inline-editing input {
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    margin: 0px 0px !important;
    padding: 8px 10px !important;
    height: 35px !important;
    display: block !important;
    box-sizing: border-box !important;
    font-size: 16px !important;
}

.ag-paging-panel {
    font-family: Roboto,Helvetica,sans-serif !important; 
    border-top: none !important;
    padding: 30px 0px 30px 0px !important;
}

.ag-paging-panel button {
    font-family: Roboto,Helvetica,sans-serif !important; 
    background: none !important;
    border: none !important;
    cursor: pointer;
}

.ag-theme-balham button[ref="btFirst"], .ag-theme-balham button[ref="btPrevious"], .ag-theme-balham button[ref="btLast"], .ag-theme-balham button[ref="btNext"], .ag-theme-dark button[ref="btFirst"], .ag-theme-dark button[ref="btPrevious"], .ag-theme-dark button[ref="btLast"], .ag-theme-dark button[ref="btNext"] {
    width: auto !important;
    text-indent: initial !important;
    padding: 1px 6px !important;
}

.ag-grid-format-email-renderer, .ag-grid-format-file-title-renderer {
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer !important;
}

.ag-grid-format-email-renderer:hover, .ag-grid-format-file-title-renderer:hover {
    text-decoration: none;
}

.ag-overlay-loading-center {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0px !important;
    color: transparent !important;
    padding: 0px !important;
    box-shadow: none !important;
}

.dialog-user-admin-notification-container .mat-radio-label {
    white-space: normal !important;
}

/* media queries */

/* smart phones */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .alert {
        width: 100%;
    }

    body.upload-photo .alert.alert-full-width {
        width: 100% !important;
    }

    #dialog-article {
        overflow: visible !important;
    }

    .gallery-detail-article img {
        width: 100%;
        height: auto;
        margin: 20px 0px;
    }

    .gallery-detail-comments-container .mat-card-content.comments {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    body.profile .mat-tree .mat-form-field {
        width: 35% !important;
    }

    body.profile .mat-tree .mat-form-field[data-role-level='2'] {
        width: 47% !important;
    }

    .app-custom-recaptcha-1, .app-custom-recaptcha-2 {
        width: 100%;
    }

    .google-recaptcha-loading:after {
        width: 100%;
    }

    .ag-paging-panel .ag-paging-row-summary-panel {
        font-size: 9px !important;
    }

    .ag-paging-panel > span {
        font-size: 9px !important;
        margin-left: 5px !important;
    }

}


